<!DOCTYPE html>
<html>
<head>
    <meta charset="uft8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container header-info">
            <a href="#">
                <img src="img/logo.png" alt="logo" class="logo">
            </a>

            <div class="contacts">
                <a href="#"> <img src="img/telephone.png"> 098 84 88 403</a>
                <a href="#"> <img src="img/skype.png"> skype</a>
                <a href="#"> <img src="img/telegram.png"> telegram</a>
                <button class="btn header-btn">Замовити консультацію</button>
            </div>
        </div>
    </header>

    <section>
        <div class="container courser-info">
            <h1>Курси програмування</h1>
            <p>Комплексні програми навчання</p>
            <div class="buttons">
                <button class="btn">Замовити консультацію</button>
                <button class="btn">Замовити урок</button>
            </div>
        </div>
    </section>

    <section class="bg">
        <div class="container education-info">
                <div class="cart">
                    <b>Формати навчання:</b>
                    <p>Очне, онлайн, індивідуальне, корпоративне навчання.</p>
                </div>
                <div class="cart">
                    <b>Формати навчання:</b>
                    <p>Очне, онлайн, індивідуальне, корпоративне навчання.</p>
                </div>
                <div class="cart">
                    <b>Формати навчання:</b>
                    <p>Очне, онлайн, індивідуальне, корпоративне навчання.</p>
                </div>
                <div class="cart">
                    <b>Формати навчання:</b>
                    <p>Очне, онлайн, індивідуальне, корпоративне навчання.</p>
                </div>
                <div class="cart">
                    <b>Формати навчання:</b>
                    <p>Очне, онлайн, індивідуальне, корпоративне навчання.</p>
                </div>
                <div class="cart">
                    <b>Формати навчання:</b>
                    <p>Очне, онлайн, індивідуальне, корпоративне навчання.</p>
                </div>
        </div>
    </section>

    <footer>
        <p>2021 Верстка шаблона №1</p>
    </footer>
</body>
</html>